Repository johnpaul-sun/sph-solidity: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

Resolve code comments
  fe/.eslintrc.js
  fe/src/assets/css/tailwind.css
  fe/src/components/base/dropdown.vue
  fe/src/components/base/file-upload.vue
  fe/src/components/base/search-bar.vue
  fe/src/components/campaign/campaign-card.vue
  fe/src/components/campaign/content.vue
  fe/src/components/campaign/detail-card.vue
  fe/src/components/campaign/fund-form.vue
  fe/src/components/global/footer.vue
  fe/src/components/global/navbar.vue
  fe/src/components/global/wallet-button.vue
  fe/src/components/icons/blocks-left.vue
  fe/src/components/icons/blocks-right.vue
  fe/src/components/user/user-avatar.vue
  fe/src/components/user/user-card.vue
  fe/src/composables/useUtils.ts
  fe/src/mocks/campaign-sample.json
  fe/src/pages/campaigns/[id].vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/index.vue
  fe/src/pages/profile.vue
  fe/src/types/CampaignProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

Revise user-avatar component to use props
  fe/src/components/campaign/content.vue
  fe/src/components/user/user-avatar.vue
  fe/src/components/user/user-card.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-45 [FE] Create markup for viewing donators on user campaign
  fe/src/components/campaign/campaign-card.vue
  fe/src/components/user/campaigns.vue
  fe/src/components/user/donators.vue
  fe/src/composables/useUtils.ts
  fe/src/mocks/campaign-donators.json
  fe/src/pages/create-campaign.vue
  fe/src/pages/profile.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: added flex grow on table data - campaign title
  fe/src/components/user/donators.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: update avatar component and usage, and update paginator argument name
  fe/.eslintrc.js
  fe/src/components/campaign/card.vue
  fe/src/components/campaign/content.vue
  fe/src/components/user/avatar.vue
  fe/src/components/user/card.vue
  fe/src/components/user/donators.vue
  fe/src/components/user/user-avatar.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: updated the argument name in the Props interface and applied to all affected components
  fe/src/components/base/paginator.vue
  fe/src/components/user/campaigns.vue
  fe/src/pages/index.vue
  fe/src/types/PaginatorProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: update paginator props name
  fe/src/components/base/paginator.vue
  fe/src/components/user/campaigns.vue
  fe/src/components/user/donators.vue
  fe/src/pages/index.vue
  fe/src/types/PaginatorProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

setup: reverted eslint rule for no-unused-vars and added underscore on unused arguments
  fe/.eslintrc.js
  fe/src/components/user/campaigns.vue
  fe/src/components/user/donators.vue
  fe/src/pages/index.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: update alignment of row number and donator info
  fe/src/components/user/donators.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-45 [FE] Create markup for viewing donators on user campaign (#18)
  fe/src/components/base/paginator.vue
  fe/src/components/campaign/card.vue
  fe/src/components/campaign/content.vue
  fe/src/components/user/avatar.vue
  fe/src/components/user/campaigns.vue
  fe/src/components/user/card.vue
  fe/src/components/user/donators.vue
  fe/src/components/user/user-avatar.vue
  fe/src/composables/useUtils.ts
  fe/src/mocks/campaign-donators.json
  fe/src/pages/create-campaign.vue
  fe/src/pages/index.vue
  fe/src/pages/profile.vue
  fe/src/types/PaginatorProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-33 [BE] Create smart contract function for updating campaign (#17)
  fe/src/assets/contract/CrowdFunding.json
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/createCampaign.ts
  smart_contract/scripts/editCampaign.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint

SOL-56 [BE] Implement pagination for viewing user's campaigns (#20)
  fe/src/assets/contract/CrowdFunding.json
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/contracts/Lock.sol
  smart_contract/scripts/getUserCampaigns.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint

SOL-38 [Integrate] Integrate smart contract function for viewing only their campaigns
  fe/src/components/campaign/card.vue
  fe/src/components/user/campaigns.vue
  fe/src/composables/useUtils.ts
  fe/src/mocks/user-card-sample.json
  fe/src/pages/campaigns/[id].vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/edit-campaign.vue
  fe/src/pages/profile.vue
  fe/src/types/CampaignCardProps.ts
  fe/src/types/UserCardProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-50 [BE] Create smart contract function for sending donation to a campaign (#21)
  fe/src/assets/contract/CrowdFunding.json
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/createContract.ts
  smart_contract/scripts/getUserCampaigns.ts
  smart_contract/scripts/sendDonation.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint

SOL-38 [Integrate] Integrate smart contract function for viewing only their campaigns (#19)
  fe/src/components/campaign/card.vue
  fe/src/components/user/campaigns.vue
  fe/src/composables/useUtils.ts
  fe/src/mocks/user-card-sample.json
  fe/src/pages/campaigns/[id].vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/edit-campaign.vue
  fe/src/pages/profile.vue
  fe/src/types/CampaignCardProps.ts
  fe/src/types/UserCardProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-57 [Improvement] Add required Metamask, title and icon
  README.md
  fe/nuxt.config.ts
  fe/public/favicon.ico
  fe/src/assets/img/logo-asterisk.png
  fe/src/assets/img/logo.png
  fe/src/pages/create-campaign.vue
  fe/src/plugins/ethers.ts
  fe/src/public/favicon.ico
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-60 [Markup] Create markup for user donations
  fe/src/components/user/donations.vue
  fe/src/mocks/campaign-donations.json
  fe/src/pages/profile.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-60 [FE] Create markup for viewing user donations across all campaigns
  fe/src/components/user/donations.vue
  fe/src/mocks/campaign-donations.json
  fe/src/pages/profile.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-51 [Integrate] Integrate smart contract function for sending donation to a campaign
  fe/src/components/campaign/fund-form.vue
  fe/src/pages/campaigns/[id].vue
  fe/src/types/CampaignFundFormProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: check if connected error
  fe/src/components/campaign/fund-form.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: update height on tablerow to 56px
  fe/src/components/user/donations.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-57 [Improvement] Add required Metamask, title and icon (#22)
  README.md
  fe/nuxt.config.ts
  fe/public/favicon.ico
  fe/src/assets/img/logo-asterisk.png
  fe/src/assets/img/logo.png
  fe/src/pages/create-campaign.vue
  fe/src/plugins/ethers.ts
  fe/src/public/favicon.ico
  smart_contract/README.md
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: set min-width for table row number
  fe/src/components/user/donations.vue
  fe/src/components/user/donators.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: resolve comments
  fe/src/components/base/button.vue
  fe/src/components/campaign/fund-form.vue
  fe/src/pages/campaigns/[id].vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

feat: make campaigns card clickable and redirect
  fe/src/components/campaign/card.vue
  fe/src/components/user/campaigns.vue
  fe/src/types/CampaignCardProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: revert changes from basebtn
  fe/src/components/base/button.vue
  fe/src/components/campaign/fund-form.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: change notif msg then added evnt listener for success
  fe/src/components/campaign/fund-form.vue
  fe/src/pages/campaigns/[id].vue
  fe/src/plugins/ethers.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: add error to amount input
  fe/src/schemas/fund-campaign.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-51 [Integrate] Integrate smart contract function for sending donation to a campaign (#25)
  fe/src/components/campaign/card.vue
  fe/src/components/campaign/fund-form.vue
  fe/src/components/user/campaigns.vue
  fe/src/pages/campaigns/[id].vue
  fe/src/plugins/ethers.ts
  fe/src/schemas/fund-campaign.ts
  fe/src/types/CampaignCardProps.ts
  fe/src/types/CampaignFundFormProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-62 [Improvement] Add eslint rules for TS (#27)
  fe/.eslintrc.js
  fe/package.json
  fe/src/components/base/input.vue
  fe/src/components/base/text-area.vue
  fe/src/components/campaign/fund-form.vue
  fe/src/components/global/wallet-button.vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/edit-campaign.vue
  fe/src/plugins/ethers.ts
  fe/src/types/ProviderRpcError.ts
  fe/src/types/window.d.ts
  package-lock.json
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-52 [BE] Create smart contract function for viewing specific campaign (#23)
  fe/src/assets/contract/CrowdFunding.json
  fe/src/plugins/ethers.ts
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/getCampaign.ts
  smart_contract/scripts/getCampaignDonations.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

SOL-46 [BE] Create smart contract function for viewing donators on user's campaigns
  fe/src/assets/contract/CrowdFunding.json
  smart_contract/README.md
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/createContract.ts
  smart_contract/scripts/getDonatorsByWalletAddress.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint

Add smart contract address
  fe/src/plugins/ethers.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

Fix conflict
  fe/src/assets/contract/CrowdFunding.json
  fe/src/plugins/ethers.ts
  smart_contract/contracts/CrowdFunding.sol
Due: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

Add pagination
  fe/src/assets/contract/CrowdFunding.json
  fe/src/plugins/ethers.ts
  smart_contract/README.md
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/getDonatorsByWalletAddress.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

Resolve github comment
  smart_contract/README.md
  smart_contract/contracts/CrowdFunding.sol
Due: npm run hardhat:prettier, npm run hardhat:solhint

Deploy to blockchain
  fe/src/assets/contract/CrowdFunding.json
  fe/src/plugins/ethers.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-46 [BE] Create smart contract function for viewing donators on user's campaigns (#26)
  fe/src/assets/contract/CrowdFunding.json
  fe/src/plugins/ethers.ts
  smart_contract/README.md
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/createContract.ts
  smart_contract/scripts/getDonatorsByWalletAddress.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

SOL-76 [BUG] After sending donation 2 toast displays
  fe/src/plugins/ethers.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-61 [FE] Show modal for first time user and pages on how to install MetaMast wallet
  fe/src/assets/css/tailwind.css
  fe/src/assets/img/fund-sepolia-wallet.png
  fe/src/assets/img/metamask-extension.png
  fe/src/assets/img/select-sepolia-test-network.png
  fe/src/assets/img/toggle-test-networks.png
  fe/src/components/base/modal.vue
  fe/src/components/global/navbar.vue
  fe/src/components/global/wallet-button.vue
  fe/src/components/help/setup.vue
  fe/src/layouts/default.vue
  fe/src/pages/help.vue
  fe/src/store/wallet.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

Path conditions:
  npm run hardhat:prettier: any of: smart_contract/**/*.sol
  npm run hardhat:solhint: any of: smart_contract/**/*.sol
  npm run nuxt:prettier: any of: fe/**/*.{js,vue,ts}
  npm run nuxt:eslint: any of: fe/**/*.{js,vue,ts}
