Repository johnpaul-sun/sph-solidity: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

.lintstagedrc.json:

{
  "*.sol": [
    "npm run hardhat:prettier",
    "npm run hardhat:solhint"
  ],
  "*.{js,vue}": [
    "npm run nuxt:prettier",
    "npm run nuxt:eslint"
  ]
}

SOL-3 Create BE Project Environment (#2)
  .vscode/extensions.json
  package.json
  smart_contract/.gitignore
  smart_contract/.solhint.json
  smart_contract/.solhintignore
  smart_contract/README.md
  smart_contract/contracts/Lock.sol
  smart_contract/hardhat.config.ts
  smart_contract/package-lock.json
  smart_contract/package.json
  smart_contract/scripts/deploy.ts
  smart_contract/test/Lock.ts
  smart_contract/tsconfig.json
  smart_contract/yarn.lock
Due: npm run hardhat:prettier, npm run hardhat:solhint

SOL-14 [FE] Create markup for Header
  .gitignore
  fe/app.vue
  fe/src/assets/css/tailwind.css
  fe/src/components/base/button.vue
  fe/src/components/icons/BlocksLeft.vue
  fe/src/components/icons/BlocksRight.vue
  fe/src/layouts/default.vue
  fe/src/pages/index.vue
  fe/tailwind.config.js
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-7 [FE] Create markup for navigation bar
  fe/nuxt.config.ts
  fe/package.json
  fe/src/assets/css/tailwind.css
  fe/src/components/Navbar.vue
  fe/src/components/WalletButton.vue
  fe/src/components/base/Search.vue
  fe/src/components/icons/BlocksLeft.vue
  fe/src/components/icons/BlocksRight.vue
  fe/src/components/icons/Logo.vue
  fe/src/layouts/default.vue
  output.css
  package-lock.json
  package.json
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

Fixed paddings
  fe/src/components/Navbar.vue
  fe/src/components/WalletButton.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

Fixed Wallet button flickering and restore Block Icons
  fe/src/components/WalletButton.vue
  fe/src/components/base/Search.vue
  fe/src/components/icons/BlocksLeft.vue
  fe/src/components/icons/BlocksRight.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-7 [FE] Create markup for navigation bar (#4)
  fe/nuxt.config.ts
  fe/package.json
  fe/src/assets/css/tailwind.css
  fe/src/components/Navbar.vue
  fe/src/components/WalletButton.vue
  fe/src/components/base/Search.vue
  fe/src/components/icons/Logo.vue
  fe/src/layouts/default.vue
  output.css
  package-lock.json
  package.json
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-14 [FE] Create markup for Header
  fe/src/assets/css/tailwind.css
  fe/src/components/Icons/BlocksLeft.vue
  fe/src/components/Icons/BlocksRight.vue
  fe/src/layouts/default.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

refactor: utilize tailwind default classes and use button component
  fe/src/components/Icons/BlocksLeft.vue
  fe/src/components/Icons/BlocksRight.vue
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-11 [FE] Create markup for campaign creation
  .vscode/settings.json
  fe/nuxt.config.ts
  fe/package.json
  fe/src/assets/css/tailwind.css
  fe/src/assets/img/be-the-change.jpg
  fe/src/components/Navbar.vue
  fe/src/components/base/button.vue
  fe/src/components/base/input.vue
  fe/src/components/base/text-area.vue
  fe/src/components/file-upload.vue
  fe/src/layouts/default.vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/index.vue
  fe/src/schemas/create-campaign.ts
  fe/tailwind.config.js
  package-lock.json
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

fix: update slot height to fill screen height
  fe/src/layouts/default.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

refactor: apply lazy validation and fix spacing for error messages
  fe/src/components/base/input.vue
  fe/src/components/base/text-area.vue
  fe/src/components/file-upload.vue
  fe/src/pages/create-campaign.vue
  fe/src/schemas/create-campaign.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: updated validation rules and error messages for input fields
  fe/src/schemas/create-campaign.ts
Due: none

ui: add border on upload image button
  fe/src/components/file-upload.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: update the text-area height to 128px
  fe/src/components/base/text-area.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-11 [FE] Create markup for campaign creation (#6)
  .vscode/settings.json
  fe/nuxt.config.ts
  fe/package.json
  fe/src/assets/css/tailwind.css
  fe/src/assets/img/be-the-change.jpg
  fe/src/components/Navbar.vue
  fe/src/components/base/button.vue
  fe/src/components/base/input.vue
  fe/src/components/base/text-area.vue
  fe/src/components/file-upload.vue
  fe/src/layouts/default.vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/index.vue
  fe/src/schemas/create-campaign.ts
  fe/tailwind.config.js
  package-lock.json
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

[SOL-15] [FE] Created Pagination, Footer, Campaign Card for Landing Page
  .vscode/settings.json
  fe/src/assets/css/tailwind.css
  fe/src/components/base/campaign-card.vue
  fe/src/components/base/paginator.vue
  fe/src/components/global/footer.vue
  fe/src/components/icons/copy-right.vue
  fe/src/composables/useUtils.ts
  fe/src/layouts/default.vue
  fe/src/mocks/card-sample.json
  fe/src/pages/index.vue
  fe/src/types/CampaignCardProps.ts
  fe/src/types/PaginatorProps.ts
  fe/tailwind.config.js
Due: npm run nuxt:prettier, npm run nuxt:eslint

bug: layout footer fix
  fe/src/components/file-upload.vue
  fe/src/components/global/footer.vue
  fe/src/layouts/default.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-30 Update readme for documentation (#9)
  .env.example
  README.md
  fe/README.md
  package.json
  smart_contract/README.md
  smart_contract/package.json
Due: none

SOL-9 [Integrate] Integrate metamask wallet in dApp
  .gitignore
  fe/.eslintrc.js
  fe/.gitignore
  fe/nuxt.config.ts
  fe/package.json
  fe/src/components/Navbar.vue
  fe/src/components/WalletButton.vue
  fe/src/composables/useUtils.ts
  fe/src/pages/create-campaign.vue
  fe/src/pages/dashboard.vue
  fe/src/plugins/toastify.ts
  fe/src/schemas/create-campaign.ts
  fe/src/store/wallet.ts
  fe/src/types/CampaignCardProps.ts
  fe/src/types/PaginatorProps.ts
  fe/tailwind.config.js
  fe/tsconfig.json
  fe/yarn.lock
  package-lock.json
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

[SOL-36] [FE] Create markup for viewing only the user's campaigns
  fe/src/components/base/tabs.vue
  fe/src/components/base/user-card.vue
  fe/src/components/profile/campaings.vue
  fe/src/mocks/user-card-sample.json
  fe/src/pages/profile.vue
  fe/src/types/TabsProps.ts
  fe/src/types/UserCardProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

Fix End of Line issue
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  fe/.eslintrc.js
  fe/nuxt.config.ts
  fe/src/components/base/dropdown.vue
  fe/src/components/base/input.vue
  fe/src/components/base/text-area.vue
  fe/src/pages/create-campaign.vue
  fe/src/schemas/create-campaign.ts
  fe/tailwind.config.js
  prettierrc.json
Due: npm run nuxt:prettier, npm run nuxt:eslint

Update config
  fe/package-lock.json
  fe/src/components/WalletButton.vue
  fe/src/pages/create-campaign.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-9 [Integrate] Integrate metamask wallet in dApp
  .gitignore
  fe/.gitignore
  fe/nuxt.config.ts
  fe/package.json
  fe/src/components/Navbar.vue
  fe/src/components/WalletButton.vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/dashboard.vue
  fe/src/plugins/toastify.ts
  fe/src/store/wallet.ts
  fe/tsconfig.json
  prettierrc.json
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-25 [Setup] Setup SUN CI (#11)
  .sun-ci.yml
  fe/.eslintrc.js
  fe/package.json
  package-lock.json
  package.json
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

[SOL-36] [FE] Create markup for viewing only the user's campaigns
  fe/src/assets/css/tailwind.css
  fe/src/components/base/tabs.vue
  fe/src/components/base/user-card.vue
  fe/src/mocks/user-card-sample.json
  fe/src/pages/create-campaign.vue
  fe/src/pages/profile.vue
  fe/src/types/TabsProps.ts
  fe/src/types/UserCardProps.ts
  yarn.lock
Due: npm run nuxt:prettier, npm run nuxt:eslint

feat: added link from wallet button
  fe/src/components/WalletButton.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-13 [Integrate] Integrate smart contract function for creating campaign
  .lintstagedrc.json
  fe/.eslintrc.js
  fe/nuxt.config.ts
  fe/package-lock.json
  fe/src/assets/contract/CrowdFunding.json
  fe/src/components/WalletButton.vue
  fe/src/components/base/button.vue
  fe/src/components/base/tabs.vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/profile.vue
  fe/src/plugins/ethers.ts
  fe/src/schemas/create-campaign.ts
  fe/yarn.lock
  package-lock.json
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/hardhat.config.ts
  smart_contract/package.json
  smart_contract/scripts/deploy.ts
  smart_contract/scripts/interact.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

Fix metamask popup on page reload
  fe/nuxt.config.ts
  fe/src/assets/contract/CrowdFunding.json
  fe/src/pages/create-campaign.vue
  fe/src/plugins/ethers.ts
  package.json
  smart_contract/contracts/CrowdFunding.sol
Due: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

SOL-31 [FE] Create markup for update campaign page
  fe/.eslintrc.js
  fe/src/components/Navbar.vue
  fe/src/components/WalletButton.vue
  fe/src/components/base/Search.vue
  fe/src/components/base/paginator.vue
  fe/src/components/base/tabs.vue
  fe/src/layouts/default.vue
  fe/src/pages/edit-campaign.vue
  fe/src/pages/index.vue
  fe/src/pages/profile.vue
  fe/src/schemas/create-campaign.ts
  prettierrc.json
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: update edit-campaign page max width
  fe/src/pages/edit-campaign.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: fix horizontal scroll
  fe/src/layouts/default.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

ui: update grid columns to maximum of 3
  fe/src/assets/css/tailwind.css
  fe/src/pages/index.vue
Due: npm run nuxt:prettier, npm run nuxt:eslint

Modified eslint config and README'
  README.md
  fe/.eslintrc.js
  fe/src/pages/create-campaign.vue
  smart_contract/README.md
Due: npm run nuxt:prettier, npm run nuxt:eslint

Adjusted max goal value
  fe/src/schemas/create-campaign.ts
Due: none

SOL-13 [Integrate] Integrate smart contract function for creating campaign (#10)
  .lintstagedrc.json
  README.md
  fe/.eslintrc.js
  fe/nuxt.config.ts
  fe/package-lock.json
  fe/src/assets/contract/CrowdFunding.json
  fe/src/components/WalletButton.vue
  fe/src/components/base/button.vue
  fe/src/components/base/tabs.vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/profile.vue
  fe/src/plugins/ethers.ts
  fe/src/schemas/create-campaign.ts
  fe/yarn.lock
  package-lock.json
  package.json
  smart_contract/README.md
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/hardhat.config.ts
  smart_contract/package.json
  smart_contract/scripts/deploy.ts
  smart_contract/scripts/interact.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint, npm run nuxt:prettier, npm run nuxt:eslint

SOL-37 [BE] Create smart contract function for viewing only the user's campaigns
  fe/src/assets/contract/CrowdFunding.json
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/createCampaign.ts
  smart_contract/scripts/createContract.ts
  smart_contract/scripts/getUserCampaigns.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint

SOL-31 [FE] Create markup for update campaign page (#14)
  fe/src/assets/css/tailwind.css
  fe/src/components/Navbar.vue
  fe/src/components/WalletButton.vue
  fe/src/components/base/Search.vue
  fe/src/components/base/paginator.vue
  fe/src/layouts/default.vue
  fe/src/pages/create-campaign.vue
  fe/src/pages/edit-campaign.vue
  fe/src/pages/index.vue
  fe/src/plugins/ethers.ts
  prettierrc.json
Due: npm run nuxt:prettier, npm run nuxt:eslint

SOL-37 [BE] Create smart contract function for viewing only the user's campaigns (#15)
  fe/src/assets/contract/CrowdFunding.json
  smart_contract/contracts/CrowdFunding.sol
  smart_contract/scripts/createCampaign.ts
  smart_contract/scripts/createContract.ts
  smart_contract/scripts/getUserCampaigns.ts
Due: npm run hardhat:prettier, npm run hardhat:solhint

SOL-41 [FE] Create markup for viewing specific campaign
  fe/src/assets/css/tailwind.css
  fe/src/components/WalletButton.vue
  fe/src/components/detail-card.vue
  fe/src/composables/useUtils.ts
  fe/src/mocks/campaign-sample.json
  fe/src/pages/campaigns/[id].vue
  fe/src/schemas/fund-campaign.ts
  fe/src/types/CampaignProps.ts
Due: npm run nuxt:prettier, npm run nuxt:eslint

Fix styling
  fe/src/pages/campaigns/[id].vue
Due: npm run nuxt:prettier, npm run nuxt:eslint
